body {
  margin: 0;
  font-family: Avenir, -apple-system, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: #14181c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --background: #fff;
  --bgComp: #1c1f23;
  --foreground: #2c3e50;
  --primary: #1caff2;
  --secondary: #000;
  --tertiary: rgba(64, 188, 244, 0.5);
  --white: #fff;
  --off-white: #ebebeb;
  --black: #000;
}

.dark {
  --background: #14181d;
  --foreground: #76a0ca;
  --secondary: #fff;
  --tertiary: #526e89;
}
